*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}

/*  hero section start */
.top-banner{
    height: 100vh;
    width: 100vw;
    background-image: url(./image/hero-bg.jpg); /* i was try to add linear gradient on the BG image also see some YT video  but i cant do it properply,it wasnt show on my page */

    /* opacity: 0.8; */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.top-banner-heading{
    font-size: 65px;
    color: #ffffff;
}
.top-banner-para{
    font-size: 19px;
    color: #ffffff;
    margin-top: 10px;
    margin-bottom: 15px;
}

.btn{
    text-decoration: none;
    color: white;
    background-color: hsl(0, 93%, 65%);
    padding: 15px 13px;
    border-radius: 6px;
}

/*  hero section end */

/*  donate section start */
.donate-section{
    height: 60vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.donate-heading{
  font-size: 50px;
  text-align: center;

}
.donate-para{
    font-size: 17px;
    color: #707070;
    text-align: center;
    
}
.all-box{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
    margin-top: 30px;
}
.box{
    padding: 20px;
    background-color: #fafafa;
}
.box2{
  border: 2px solid #fe5959;
  border-radius: 6px;
}
.input-field{
    margin-top: 10px;
    margin-bottom: 30px;
    border: none;
    border-bottom: 2px solid #DADADA;
    text-align: center;
    font-size: 20px;
    outline: none;
}

.link-button{
    text-align: center;
    margin-top: 20px;
}
/*  donate section end */

/* donate plan area start*/

.donate-plan{
  height: 100vh;
  width: 100vw;
}
.donate-text{
    height: 35%;
    width: 100%;
    padding-top: 50px;
}
.donate-card{
    height: 65%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.card-size{
    width: 26%;
    height: 80%;
    text-align: center;
    padding-top: 50px;

}
.food-div{
background-color: rgba(79, 157, 166, 0.1);
border-radius: 6px;
}
.shelter-div{
    background-color: rgba(255, 89, 89, 0.1);
    border-radius: 6px;
}
.education-div{
   background-color: rgba(238, 198, 149, 0.63);
   border-radius: 6px;
}
.icon{
    padding-top: 20px;
    padding-right: 200px;
    margin-bottom: 20px;
}
.card-heading{
    padding-right: 120px;
    margin-bottom: 30px;
}
/* donate plan area end */

/* depend section start */
.hero-1{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
}
.hero-2{
    margin-top: 80px;
    margin-bottom: 40px;
}
.text-area{
    width: 50%;
}
.image-area{
    width: 50%;
}
.image-area img{
    width: 60%;
    border-radius: 8px;
    
}
.depend-heading{
    font-size: 45px;
}
.depend-para{
    font-size: 18px;
    margin-bottom: 30px;
}
/* depend section end */

/*---update section start---*/
 .update-area{
    height: 60vh;
    width: 100vw;
    margin-top: 130px;
 }

 .update-text{
    height: 30%;
    width: 100%;
    margin-top: 60px;
 }

 .update-form{
    height: 70%;
    width: 100%;
    
 }
.background{
    width: 750px;
    height: 200px;
    background-color: rgba(238, 198, 149, 0.63);
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.input-field2{
   outline: none;
   padding: 15px 13px;
   border-radius: 6px;
   border: none;
   background-color: #D9D9D9;
}
.btn2{
    text-decoration: none;
    color: white;
    background-color: hsl(0, 93%, 65%);
    padding: 10px 13px;
    border-radius: 6px;
}

/*---update section end---*/


/*---footer section end---*/
footer{
    height: 20vh;
    width: 100vw;
    background-color: black;
}
.footer-text{
    color: #fe5959;
    text-align: center;
    padding-top: 50px;
}
strong{
    color: #fafafa;
}
/*---footer section end---*/

/*--extra part start--*/
.about-us{
    height: 80vh;
    width: 100vw;
    /* background-image: url(./image/about.jpg);
    background-repeat: no-repeat;
    background-size: cover; */
    padding: 10px;

}
.campaign-text{
    height: 50%;
    width: 100%;
    background-color: hwb(0 98% 0%);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.about-text{
    height: 50%;
    width: 100%;
    background-color: hwb(0 98% 0%);
}
.extra-para{
    color: #b6b60d;

}
.extra-heading2{
    color: #b6b60d;

}

/*--extra part end--*/